node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Pocketbase
pocketbase/pb_data
pocketbase/pocketbase
pocketbase/pocketbase.exe
pocketbase/LICENSE
pocketbase/README.md
