// Fonts
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local('Inter'), url('./lib/fonts/Inter-Regular.woff2') format('woff2'), local('Inter'),
		url('./lib/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: local('Inter'), url('./lib/fonts/Inter-SemiBold.woff2') format('woff2'), local('Inter'),
		url('./lib/fonts/Inter-SemiBold.woff') format('woff');
}

/* Decima Mono Pro */
@font-face {
	font-family: 'Decima Mono Pro';
	font-weight: 400;
	font-style: normal;
	src: local('Decima Mono Pro'), url('./lib/fonts/DecimaMonoPro-Regular.woff2') format('woff2'),
		local('Decima Mono Pro'), url('./lib/fonts/DecimaMonoPro-Regular.woff') format('woff');
}

html.html {
	height: 100%;

	--color-redPrimary: #e75258;
	--color-greenPrimary: #00a36f;
	--color-purplePrimary: #5255ac;
	--color-goldPrimary: #b19b70;
	--color-yellowPrimary: #fba500;

	--color-white: #ffffff;
	--color-black: #000000;

	--font-sansSerif: 'Inter', Helvetica, Arial, sans-serif;
	--font-monospace: 'Decima Mono Pro', 'SF Mono', monospace;

	// Color themes

	// Light mode (default)
	color-scheme: light;

	--color-bluePrimary: hsl(212, 97%, 43%);

	--color-redSecondary: hsl(346, 52%, 95%);
	--color-greenSecondary: hsl(166, 52%, 95%);
	--color-blueSecondary: hsl(210, 100%, 97%);
	--color-yellowSecondary: hsl(44, 100%, 95%);

	--color-alpha-light-100: rgba(255, 255, 255, 0.1);
	--color-alpha-light-500: rgba(255, 255, 255, 0.5);

	--color-alpha-dark-100: rgba(0, 0, 0, 0.1);
	--color-alpha-dark-150: rgba(0, 0, 0, 0.15);
	--color-alpha-dark-350: rgba(0, 0, 0, 0.35);
	--color-alpha-dark-650: rgba(0, 0, 0, 0.65);

	--color-border: hsl(0, 0%, 89%);

	--color-neutral-0: var(--color-neutral-0);
	--color-neutral-30: hsl(0, 0%, 98%);
	--color-neutral-50: hsl(0, 0%, 95%);
	--color-neutral-70: hsl(0, 0%, 93%);
	--color-neutral-100: hsl(0, 0%, 90%);
	--color-neutral-200: hsl(0, 0%, 80%);
	--color-neutral-300: hsl(0, 0%, 70%);
	--color-neutral-400: hsl(0, 0%, 60%);
	--color-neutral-500: hsl(0, 0%, 50%);
	--color-neutral-600: hsl(0, 0%, 40%);
	--color-neutral-700: hsl(0, 0%, 30%);
	--color-neutral-800: hsl(0, 0%, 20%);
	--color-neutral-900: hsl(0, 0%, 10%);
	--color-neutral-1000: var(--color-black);

	--box-shadow: 0px 4px 15px rgb(0 0 0 / 10%), 0px 1px 1px rgb(0 0 0 / 5%);

	// Dark mode
	&[data-color-theme='Dark'] {
		color-scheme: dark;

		--color-bluePrimary: hsl(212, 97%, 50%);

		--color-redSecondary: hsl(347, 53%, 10%);
		--color-greenSecondary: hsl(167, 53%, 10%);
		--color-blueSecondary: hsl(211, 100%, 10%);
		--color-yellowSecondary: hsl(44, 100%, 10%);

		--color-alpha-light-100: rgba(0, 0, 0, 0.1);
		--color-alpha-light-500: rgba(0, 0, 0, 0.5);

		--color-alpha-dark-100: rgba(255, 255, 255, 0.1);
		--color-alpha-dark-150: rgba(255, 255, 255, 0.15);
		--color-alpha-dark-350: rgba(255, 255, 255, 0.35);
		--color-alpha-dark-650: rgba(255, 255, 255, 0.65);

		--color-border: hsl(0, 0%, 11%);

		--color-neutral-0: var(--color-black);
		--color-neutral-30: hsl(0, 0%, 2%);
		--color-neutral-50: hsl(0, 0%, 5%);
		--color-neutral-70: hsl(0, 0%, 7%);
		--color-neutral-100: hsl(0, 0%, 10%);
		--color-neutral-200: hsl(0, 0%, 20%);
		--color-neutral-300: hsl(0, 0%, 30%);
		--color-neutral-400: hsl(0, 0%, 40%);
		--color-neutral-500: hsl(0, 0%, 50%);
		--color-neutral-600: hsl(0, 0%, 60%);
		--color-neutral-700: hsl(0, 0%, 70%);
		--color-neutral-800: hsl(0, 0%, 80%);
		--color-neutral-900: hsl(0, 0%, 90%);
		--color-neutral-1000: var(--color-neutral-0);

		--box-shadow: 0px 4px 15px rgb(0 0 0 / 25%), 0px 1px 1px rgb(0 0 0 / 33%);
	}
}

body.body {
	font-family: var(--font-sansSerif);
	color: var(--color-neutral-900);
	background-color: var(--color-neutral-50);
	margin: 0;
	height: 100%;
}
