/* Import Iosevka font */
@font-face {
	font-family: 'Iosevka';
	src: url('/fonts/Iosevka-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Iosevka';
	src: url('/fonts/Iosevka-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Iosevka';
	src: url('/fonts/Iosevka-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Iosevka';
	src: url('/fonts/Iosevka-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Iosevka';
	src: url('/fonts/Iosevka-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Iosevka';
	src: url('/fonts/Iosevka-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Iosevka';
	src: url('/fonts/Iosevka-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Iosevka';
	src: url('/fonts/Iosevka-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Iosevka';
	src: url('/fonts/Iosevka-Heavy.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@import 'tailwindcss';
@import 'tailwindcss/theme';

@theme {
	--color-chromeo-50: hsl(26, 6%, 99%);
	--color-chromeo-100: hsl(26, 6%, 98%);
	--color-chromeo-200: hsl(26, 6%, 96%);
	--color-chromeo-300: hsl(26, 6%, 92%);
	--color-chromeo-400: hsl(26, 6%, 86%);
	--color-chromeo-500: hsl(26, 6%, 79%);
	--color-chromeo-600: hsl(26, 6%, 71%);
	--color-chromeo-700: hsl(26, 6%, 60%);
	--color-chromeo-800: hsl(26, 6%, 48%);
	--color-chromeo-900: hsl(26, 6%, 35%);
	--color-chromeo-950: hsl(26, 6%, 20%);

	--color-brand: hsl(211.85deg 97.24% 42.55%);

	--color-netWorth: var(--color-chromeo-950);
	--color-cash: hsl(160.86deg 100% 31.96%);
	--color-debt: hsl(357.58deg 75.63% 61.37%);
	--color-investments: hsl(39.69deg 29.41% 56.67%);
	--color-otherAssets: hsl(238deg 35.43% 49.8%);

	--font-sans: 'Inter', sans-serif;
	--font-mono: 'Iosevka', monospace;
}

body {
	@apply bg-chromeo-200 text-chromeo-900;
}
