@import 'tailwindcss';
@import 'tailwindcss/theme';

@theme {
	--color-chromeo-50: hsl(26, 6%, 99%);
	--color-chromeo-100: hsl(26, 6%, 98%);
	--color-chromeo-200: hsl(26, 6%, 96%);
	--color-chromeo-300: hsl(26, 6%, 92%);
	--color-chromeo-400: hsl(26, 6%, 86%);
	--color-chromeo-500: hsl(26, 6%, 79%);
	--color-chromeo-600: hsl(26, 6%, 71%);
	--color-chromeo-700: hsl(26, 6%, 60%);
	--color-chromeo-800: hsl(26, 6%, 48%);
	--color-chromeo-900: hsl(26, 6%, 35%);
	--color-chromeo-950: hsl(26, 6%, 20%);

	--color-accent: hsl(211.85deg 97.24% 42.55%);
}

body {
	@apply bg-chromeo-200 text-chromeo-800;
}
