name: Build & release

on:
  push:
    branches: [main, master]

jobs:
  tag:
    name: Tag commit
    runs-on: ubuntu-latest
    outputs:
      new_release_git_tag: ${{ steps.tag_version.outputs.new_release_git_tag }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3

      - name: Bump version and push tag
        id: tag_version
        uses: cycjimmy/semantic-release-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    if: ${{ needs.tag.outputs.new_release_git_tag != '' }}
    needs: tag
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    name: Release (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3

      - name: Install Electron dependencies
        run: npm ci

      - name: Install SvelteKit dependencies
        working-directory: ./sveltekit
        run: npm ci

      - name: Install Prisma's dependencies
        working-directory: ./sveltekit
        run: npx prisma generate && npx prisma migrate dev
        env:
          # Need to migrate and seed a temporary database required for the
          # SvelteKit build process to finish.
          DATABASE_URL: "file:./Canutin.temp.vault"

      - name: "Generate Electron & Sveltekit builds"
        run: npm run build:all
        env:
          DATABASE_URL: "file:./Canutin.temp.vault"
          APP_VERSION: ${{ needs.tag.outputs.new_release_git_tag }}

      - name: Update package.json's with app version
        run: npm run package:release
        env:
          APP_VERSION: ${{ needs.tag.outputs.new_release_git_tag }}

      - name: Build & release Electron app
        uses: samuelmeuli/action-electron-builder@v1.6.0
        with:
          github_token: ${{ secrets.github_token }}
          build_script_name: "package:electron"
          release: true

      - name: Collect all files needed for server release
        # Only create a release for the server when action runs in Ubuntu.
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: npm run package:server
        env:
          APP_VERSION: ${{ needs.tag.outputs.new_release_git_tag }}

      - name: Release server package
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ needs.tag.outputs.new_release_git_tag }}
          files: ./dist/canutin-server_*.tar.gz
